* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.khc {
  background-image: url(./assets/shm1.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
.finn-container {
  height: 100vh;
  padding: 20px;
  position: relative;
  overflow: scroll;
}
.finn-container::before {
  width: 800px;
  height: 600px;
  content: "";
  background-image: url(./assets/shm1.jpeg);

  background-size: cover; /* ⭐ key */
  background-position: center; /* ⭐ key */
  background-repeat: no-repeat; /* ⭐ key */

  position: absolute;
  z-index: -1;
  border-radius: 80% 5% 5% 5%;
  top: 50%;
  right: 0%;
  transform: translate(-10%, -50%);
  transition: 1s;
  opacity: 0.4;
}
@media (max-width: 992px) {
  .finn-container::before {
    width: 650px;
    height: 450px;
  }
}

@media (max-width: 576px) {
  .finn-container::before {
    width: 500px;
    height: 300px;
  }
}
/* .finn-container::before {
  width: 500px;
  height: 300px;
  content: "";
  background-image: linear-gradient(45deg, #c59c13, blue);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: 1s;
} */
.bg-dark {
  background: #000 important;
}
.animate-spin-loader {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 370px) {
  .kwnav {
    display: none;
  }
}
